<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Eventos - Portfólio</title>
</head>

<body class="bg-gray-100">
    <header class="bg-blue-700 text-white p-6 text-center">
        <h1 class="text-3xl font-bold">Bem vindo a Evento+</h1>
        <p class="mt-2">Organizando momentos inesquecíveis para você</p>
        <div>
            <a class="text-lg hover:underline mx-2" href="http://localhost:3000/#">Home</a>
            <a class="text-lg hover:underline mx-2" href="http://localhost:3000/servicos">Serviços</a>
            <a class="text-lg hover:underline mx-2" href="http://localhost:3000/contato">Contato</a>
            <a class="text-lg hover:underline mx-2" href="http://localhost:3000/portfolio">Portfólio</a>
        </div>
    </header>
    <section class="min-h-[80vh] grid grid-cols md:grid-cols-2 my-4">
        <div class="container mx-auto mt-8 p-6 text-center">
            <h2 class="text-3xl font-bold text-brand-blue mb-6">Quem Somos</h2>
            <p class="max-w-2xl mx-auto mb-8 text-gray-700">A Eventos+ é uma empresa especializada na criação,
                organização e
                produção de eventos memoráveis. Desde 2015, transformamos ideias em experiências únicas, oferecendo
                soluções
                completas para eventos sociais, corporativos e culturais.</p>
            <p class="max-w-2xl mx-auto mb-8 text-gray-700">Com uma equipe experiente, criativa e comprometida, cuidamos
                de
                cada detalhe para que você viva o seu momento sem preocupações.</p>
            <h2 class="text-3xl font-bold text-brand-blue mb-6 mt-6">Diferenciais</h2>
            <ul class="max-w-2xl mx-auto mb-8 text-gray-700">
                <li>Atendimento personalizado</li>
                <li>Equipe multidisciplinar qualificada</li>
                <li>Parceiros e fornecedores de excelência</li>
                <li>Cumprimento rigoroso de prazos</li>
                <li>Tecnologia de ponta</li>
                <li>Portfólio com mais de 500 eventos realizados</li>
            </ul>
        </div>
        <div class="grid md:grid-cols-2 md:grid-rows-2 gap-3 justify-center items-center">
            <img src="img/aniversario.jpg" class="h-80 rounded-sm object-cover">
            <img src="img/casamento.jpg" class="h-80 rounded-sm object-cover">
            <img src="img/corporativo.jpg" class="h-80 rounded-sm object-cover">
            <img src="img/show.jpg" class="h-80 rounded-sm object-cover">
        </div>
    </section>
    <footer class="bg-blue-700 text-white text-center p-4 mt-8">
        <p>&copy; 2025 Eventos+. Todos os direitos reservados.</p>
    </footer>
</body>

</html>